@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  line-height: 1.5em;
  text-align: center;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container {
  padding: 20px;
  border-radius: 10px;
}

.output-cpf {
  padding: .5em 0;
  cursor: auto;
  font-size: 1.5em;
}

h1 {
  font-size: 2em;
}